<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navigation">
    <ul class="nav nav-pills">
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Messages</a></li>
        <li>
            <a href="javascript: document.logoutForm.submit()"> Logout</a>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input type="submit" value="Sign Out"/>
            </form>
        </li>
    </ul>
</div>
</body>
</html>